:root {
  color-scheme: light dark;
  font-family: 'Iosevka Web', system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --white: #fff;
  --black: #292f2f;

  --bg: light-dark(
    var(--white),
    var(--black)
  );
  --text: light-dark(
    var(--black),
    var(--white)
  );
  --line: color-mix(in lab, currentColor 20%, var(--bg));

  --dotSize: .75rem;

  background-color: var(--bg);
  color: var(--text);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--text);
  color: var(--bg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.2rem;
}

.app {
  height: max(100vh, 50rem);
  display: grid;
  place-items: center;
  position: relative;
}

.demo {
  position: relative;
  width: min(70rem, 90vw);
  padding-top: 5rem;
  
  &::before {
    content: '';
    position: absolute;
    inset:0;
    background: linear-gradient(90deg, var(--grad));
    filter: blur(80px);
    transform: translateY(15%) translateZ(0);
    will-change: transform;

  }
  &::after {
    content: '';
    position: absolute;
    inset:-1rem;
    background: linear-gradient(90deg, var(--grad-stops));
    z-index: 1;
  }

  .bg {
    z-index: 3;
    inset: -1rem;
    position: absolute;
    background: repeating-linear-gradient(90deg,
        transparent 0,
        transparent calc(100% / var(--length) - 1px),
        var(--bg) calc(100% / var(--length) - 1px),
        var(--bg) calc(100% / var(--length)));
    mask-image: linear-gradient(to bottom, transparent, black 20%, black calc(100% - 1.5rem), transparent);
    display: none;
  }
}

@media (orientation: portrait) {
  #app {
    max-width: 100%;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .demo {
    padding-top: 0;
    padding-right: 0;
    width: min(90vw, 25rem);
    &::before {
      background: linear-gradient(180deg, var(--grad));
      transform: translateY(0%);
    }
    &::after {
      background: linear-gradient(180deg, var(--grad-stops));

    }

    .bg {
      background: repeating-linear-gradient(180deg,
          transparent 0,
          transparent calc(100% / var(--length) - 1px),
          var(--bg) calc(100% / var(--length) - 1px),
          var(--bg) calc(100% / var(--length)));
      mask-image: linear-gradient(90deg, transparent, black 1.5rem, black 80%, transparent);
    }
  }
}

.demo__title {
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.05em;
}

.demo__subtitle {
  margin: 0;
}

.demo__controls {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  background: var(--bg);
  position: relative;
  padding: 1.5rem 2rem 2rem 2rem;
  z-index: 5;
  /*
  box-shadow: 0 0 0 1px var(--bg);
  -webkit-text-stroke: 5px var(--bg);
  paint-order: stroke fill;
  background: radial-gradient(circle at 50% 50%,
      color-mix(in sRGB, transparent 40%, var(--bg)) 0% 35%,
      var(--bg) 35% 100%);
  background-size: 4px 4px;
  */
  &>div {
    flex: 1;
  }
}

@media (orientation: portrait) {
  .demo__controls {
    flex-direction: column;
  }
}

.control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.control--combined {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  min-height: 100%;
}

.control--base-color {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.25rem;
}

.control--base-color .control {
  flex: 1;
}

.control--base-color .button {
  flex-shrink: 0;
}

.control__label {
  font-size: 0.9rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.control__label-text {
  flex: 1 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.control__label-text--below {
  margin-top: -.05rem;
}

.control__label-value {
  flex-shrink: 0;
  font-weight: 700;
  font-size: .8em;
}

.control__icon {
  vertical-align: middle;
}

.palette-type-tabs {
  display: flex;
  border: 2px solid currentColor;
  background: var(--bg);
}

.palette-type-tabs input[type="radio"] {
  display: none;
}

.palette-type-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.7rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
  position: relative;
}

.palette-type-tab::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.1rem;
  aspect-ratio: 1;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(.3);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s linear, transform 0.2s cubic-bezier(0.3, 0.7, 0, 1);
}

.palette-type-tab+.palette-type-tab {
  border-left: 1px solid var(--line);
}

.palette-type-tab:has(input[type="radio"]:checked) {
  &::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.palette-type-icon {
  height: .75rem;
  aspect-ratio: 1;
  position: relative;
  border: 1px solid color-mix(in lab, currentColor 30%, var(--bg));
  border-radius: 50%;
  container-type: inline-size;
  display: block;
}


.palette-type-icon::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

.palette-type-icon i {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: currentColor;
  top: 50%;
  left: 50%;
  transform:
    translate(-50%, -50%) rotate(var(--angle)) translateY(-50cqi) translateY(-50%);
  transform-origin: center;
}

.palette-type-name {
  font-size: 0.7rem;
  text-align: center;
  display: none;
}

.style-tabs {
  display: flex;
  border: 2px solid transparent;
  background: var(--bg);
  margin-bottom: calc(-2.68rem - 2px);
}

.style-tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.style-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.4rem 0.7rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  position: relative;

  --offsetIcons: 0.5rem;
  
  &:first-child {
    padding-left: 0rem;
  }
  &:last-child {
    padding-right: 0rem;
  }
}

.style-tab + .style-tab {
  border-left: 1px solid var(--line);
  border-left: 1px solid transparent
}

.style-icon {
  height: .75rem;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transform: translateY(var(--offsetIcons)) scale(0.9);
  transition: opacity 0.2s ease, transform 0.3s cubic-bezier(.3, .7, 0,1);
}

.style-tab:has(input[type="radio"]:checked) .style-icon {
  opacity: 1;
  transform: scale(1);
}

.style-tab:hover .style-icon {
  opacity: 0.7;
}

.style-icon--square {
  border: 1px solid currentColor;
}

.style-icon--triangle svg {
  width: 150%;
  height: 150%;
  opacity: 0.9;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.1s ease;
}

.style-tab:has(input[type="radio"]:checked) .style-icon--triangle svg {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-13%) scale(1.2);
}

.style-icon--circle {
  border: 1px solid currentColor;
  border-radius: 50%;
}

.style-icon--diamond {
  border: 1px solid currentColor;
  transform: translateY(var(--offsetIcons)) rotate(45deg) scale(0.85);
  opacity: 0.4;
}

.style-icon--square {
  transform: translateY(var(--offsetIcons)) rotate(90deg);
}

.style-name {
  font-size: 0.7rem;
  text-align: center;
  display: none;
}

.control--grid {
  grid-column: span 1;
}

.grid-control {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--bg);
  background-image:
    repeating-linear-gradient(0deg,
      var(--line) 0,
      var(--line) 1px,
      transparent 1px,
      transparent calc(100% / 16)),
    repeating-linear-gradient(90deg,
      var(--line) 0,
      var(--line) 1px,
      transparent 1px,
      transparent calc(100% / 16));
  box-shadow: inset 0 0 0 2px currentColor;

  cursor: crosshair;
  user-select: none;
  background-size: calc(100% + 1px);
}

.grid-control__dot {
  position: absolute;
  width: var(--dotSize);
  height: var(--dotSize);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: var(--bg);
  top: 100%;
  left: 0%;
  box-shadow: 0 0 0 1px currentColor, 0 0 0 0.25rem var(--bg);
}

.control__input {
  font: inherit;
  border: 2px solid currentColor;
  background: var(--bg);
  color: inherit;
  outline: none;
  font-size: 0.9rem;
}

.control__input--color {
  padding: 0 2px;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
}

.range-wrapper {
  position: relative;
  width: 100%;
  height: 1.25rem;
}

.range-wrapper--style {
  height: 1.4rem;
}

.range-wrapper--style .range-marker {
  box-shadow: 0 0 0 1px currentColor, 0 0 0 1.5px var(--bg);
  top: 14.5px;
}

.control__label--style {
  margin-top: 0.5rem;
}


.control:has(> .range-wrapper--harmony) {
  margin-bottom: calc(-.2rem - 2px);
  margin-left: 10%;
  margin-right: 10%;
}
.control:has(> .range-wrapper--style) {
  margin-top: calc(-.2rem - 2px);
  margin-left: 10%;
  margin-right: 10%;
}

.control__input[type="range"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  margin: 0;
}

.range-marker {
  position: absolute;
  left: calc(1px + var(--progress, 0) * (100% - 2px));
  top: 14px;
  width: calc(var(--dotSize) * .35);
  height: calc(var(--dotSize) * .35);
  background: var(--bg);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 0 1px currentColor, 0 0 0 0.25rem var(--bg);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(100% + 2px);
    width: 1px;
    height: 10px;
    background: currentColor;
    transform: translateX(-50%);
    pointer-events: none;
  }

}

.control--flip {
  transform: scaleY(-1);
}

.control--small {
  position: relative;
}

.control--small::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  pointer-events: none;
}

/* Main graduations */
.control--small::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  --count: var(--graduations, 4);
  background-image: linear-gradient(to right, currentColor 1px, transparent 1px);
  background-size: calc((100% - 1px) / (var(--count) - 1)) 8px;
  background-repeat: repeat-x;
  pointer-events: none;
}

/* Smaller graduations in between */
.control--small .range-wrapper::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  --count: var(--graduations, 4);
  background-image: linear-gradient(to right,
      transparent,
      transparent calc(100% - 0.5px),
      var(--line) calc(100% - 0.5px));
  background-size: calc((100% - 0.5px) / ((var(--count) - 1) * 6)) 100%;
  pointer-events: none;
}


.button {
  font: inherit;
  padding: 0.46rem 0.9rem;
  background: var(--bg);
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.85rem;
  border: 2px solid currentColor;
  box-shadow: 0 0 0 0 currentColor;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s linear;

}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 0 0 currentColor;
}

.button:active {
  transform: translateY(0);
}

.button--last,
.control--palette-type {
  margin-top: 1.5rem;
}

.button--last {
  margin-top: 2.1rem;
}

.demo__actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.palette {
  display: flex;
  gap: 0;
  overflow: hidden;
  border: 2px solid currentColor;
}

.swatch {
  flex: 1 1 auto;
  display: block;
  box-shadow: none;
  position: relative;
  overflow: hidden;
}

.swatch +.swatch {
  border-left: 1px solid var(--line);
}

.swatch::before {
  content: '';
  display: block;
  padding-top: 100%;
  pointer-events: none;
}

.swatch::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: var(--color);
  transform: scale(.85);
  transition: transform 0.2s cubic-bezier(0.3, 0.7, 0, 1);
}

.swatch:hover::after {
  transform: scale(1);
}



.swatch__meta {
  display: none;
}

.demo__palettes {
  display: none;
}

.palette-title {
  position: absolute;
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 1rem;
  z-index: 2;
  top: -6rem;
  left: 1.7rem;
  letter-spacing: -0.03em;
}

.about {
  max-width: 40rem;
  margin: 2rem;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 5vmin auto;

  h1, h2 {
    font-weight: 200;
letter-spacing: -0.03em;
  }
  h2 {
    margin-bottom: 0;
    margin-top: 2em;
  }
  h2 + p,
  h2 + figure {
    margin-top: 0.75em;
  }

  figure {
    margin: 0;
  }
}

.about__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.about__header h1 {
  margin: 0;
  line-height: 1;
}

.about a[href^="http"]::after {
  content: " ↗";
  font-size: 0.75em;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover {
    text-decoration-thickness: 2px;
  }
}

@media (orientation: portrait) {
  .about {
    max-width: min(22rem,80vw);
  }
}

.code {
  background: var(--text);
  border: 1px solid var(--line);
  color: var(--bg);
  padding: 1rem;
  display: block;
  overflow-x: auto;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-top: 0.5rem;

  ::selection {
    background: var(--bg);
    color: var(--text);
  }
}

pre, code {
  font: inherit;
  font-size: 0.75rem;
}